.App {
    text-align: center;
}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.App-logo {
    height: 150px;
    width: auto;
}

.App-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.columns-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.characters {
    list-style: none;
    padding: 0;
    margin: 0 10px 0 10px;
    width: 200px;
}

.characters li {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 2px #030000;
    border-radius: 0.2em;
    padding: 0.5em;
    margin-bottom: 1em;
    background-color: rgb(154, 201, 243, 0.5);
}

.characters p {
    max-width: none;
    font-weight: bold;
    margin: 0;
}

.characters-thumb {
    overflow: hidden;
    flex-shrink: 0;
    width: 5em;
    height: 5em;
    background-color: #030303;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.characters-thumb img {
    display: block;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .characters {
        margin: 0;
        width: 100%;
    }

    .characters-thumb {
        margin-bottom: 0;
    }
}
